
#bg__image{
    position: absolute;
    top:0;
    width: 100%;
    height:100vh;
}



content{
    width:100%;
}


#hero{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    height:calc(100vh - 150px );;
    align-items: center;
    font-family: title-bold;
}
h1{
    font-size: 90px;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
h2{
    font-size: 25px;
    font-family: main;
    text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

}

.section{
    display: block;
    position: absolute;
    width:100%;
    min-height:100vh;
    padding: 1rem;
    background-color: #1E1F21;
    text-align: center;
}


/* EXPERIENCIA */
#experiencia{
    position: relative;


}
#project_list{
    padding:  5% 15%;
    width:100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.project{
    border-radius: 5px;
    margin: 1rem 0;
    opacity: 0.6;
    width:400px;
    z-index: 0;
    height:400px;
    overflow: hidden;
    transition: .5s;

}
.project img{
    width:100%;
    height:70%;
}

.project:hover{
    opacity: 1;
    transition: .5s;
}


.project .title{
    width:100%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;

}

.project .alert{
    opacity: 0;
    transition: .5;

}


#experiencia h2{
    font-size: 40px;
    
    font-family: title-bold;
}