header{
    display:flex;
    position: relative;
    height: 150px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    user-select: none;

}

header .name{
    position: absolute;
    font-size: 3rem;
    left:2.5vw;
    top:18px;
    color:white;
    font-family: title-bold;
    transition: .5s;

}
header .name:hover{
    transition: .5s;
    opacity: 0.4;
}

header a{
    color:inherit;
    text-decoration: none;
}

header nav{
    display:flex;
    gap:3rem;
    padding:5px  1rem;
    transition: .5s;
color:white;

}



header nav button{
    position:relative;
    opacity: 0.7;
    transition: .5s; 
}

header nav button:hover{
    opacity: 1 !important;
}


header nav button .num{
    font-size: .7rem;
    position: absolute;
    right:0;
    bottom:1rem;
}

.navHover{
    opacity: 0.4;
    transition: .5s;

}

.item_name{

}