*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 18px;
}

body,html{
    width:100%;
    min-height: 100vh;
    font-family: main;
   /* cursor:none;*/
    user-select: none;
    color:whitesmoke;
    background-color: #171717;
}

:root{
    
}



.stop-scrolling {
    height: 100vh !important;
    overflow: hidden !important;
}

/* CURSOR   */
#cursor__main{
    position:absolute;
    height: 5px;
    width:5px;
    background-color: white;
    border-radius: 50%;
}

#cursor__inner{
    position:absolute; 
    height:30px;
    width:30px;
    border-radius: 50%;
    border:1px solid white;
    background-color: none;
}

.click{
    transform: scale(3);
}






.hidden{
    display: none !important;
}

#top__scroller{
    position: fixed;
    bottom: 2.5vh;
    right:2.5vh;
    height:50px;
    width:50px;
    opacity: 0.6;
    display:flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background-color: whitesmoke;
}

#top__scroller img{
    width:20px;
}
#top__scroller:hover{
    opacity: 1;

}

.top_hidden{
    transition: .5s;
    opacity: 0 !important;
}



body::-webkit-scrollbar,html::-webkit-scrollbar{
    display: none;
}
body {
    -ms-overflow-style: none;
}
html {
    scrollbar-width: none;
}


/* FIRST CONTENT */



@font-face {
    font-family: main;
    src: url(static/fonts/Monaco.ttf);
}

@font-face {
    font-family: title-bold;
    src: url(static/fonts/Andika-Bold.ttf);
}

@font-face {
    font-family: name-title;
    src: url(static/fonts/BebasNeue-Regular.ttf);
}